{% block before %}{% endblock %}
<div class="b--brand-light-silver ba br2">
  <div class="b--brand-light-silver bb pv2 ph3 bg-near-white br2 br--top ttu silver"><strong>{% block title %}{% endblock %}</strong></div>
  <div class="pa3">
    {% block body %}{% endblock %}
  </div>
</div>
{% block after %}{% endblock %}
