<aside id="left-panel" class="bg-dark-gray flex flex-column" style="box-shadow:inset -7px 0 25px -7px rgba(0,0,0,0.6);transition:all 0.25s ease-in-out">

  <!-- NAVIGATION -->
  <nav>
    {{
      include("menu.html.twig", {
        "attributes":{
          "class": "ma0",
          "data-dojo-type": "storm/menu"
        },
        "anchorAttributes": {"class": "flex relative brand-light-silver ph3 pv2 hover-white inset-focus"},
        "iconAttributes": {"class": "fa fa-lg fa-fw mr2"},
        "subMenuAttributes": {"class": "bg-white-05 pl4"},
        "menu":route.getOption("menu")
      })
    }}
  </nav>

  <div style="margin-top:auto">
    <a class="db pa3 mt3 inset-focus" href="{{ helper("url").build("") }}">
      <img class="mw-100" src="{{ helper("url").build(helper("stormLogo")) }}" alt="{{ helper("settings").get("site_name") }}"/>
    </a>
  </div>

</aside>
<!-- END NAVIGATION -->
